html {
    font-family: Arial, Helvetica, sans-serif;
}

#drop_zone {
    margin-top: -10px;
    margin-left: -10px;
    color : black;
    width: 500px;
    height: 250px;
    box-shadow : 10px 10px 14px lightgray,
                -12px -12px 10px whitesmoke;
    border-radius : 20px;
}



#dz_desc {
    padding-top : 120px;
    text-align: center;
}

#file_size {
    font-size: 13px;
    text-align: left;
}

.ss_button {
    color : cornflowerblue;
    font-size : 13px;
    font-weight: lighter;
    background-color: white;
    border : none;
    border-radius : 5px;
    box-shadow : 5px 5px 7px lightgray,
                -6px -6px 5px whitesmoke;
    height : 30px;
    padding-left : 20px;
    padding-right : 20px;
}
.ss_button:hover {
    font-weight : bold;
    background-color : whitesmoke;
    box-shadow : 5px 5px 7px lightgray,
    -6px -6px 5px ghostwhite;
    border-radius : 5px;
    border : none;
    height : 30px;
    cursor : pointer;
}


.ss_button_submit {
    color : red;
    font-size : 13px;
    font-weight: lighter;
    background-color: white;
    border : none;
    border-radius : 5px;
    box-shadow : 5px 5px 7px lightgray,
    -6px -6px 5px whitesmoke;
    height : 30px;
    padding-left : 20px;
    padding-right : 20px;
}

.ss_button_submit:hover {
    font-weight : bold;
    background-color : whitesmoke;
    box-shadow : 5px 5px 7px lightgray,
    -6px -6px 5px ghostwhite;
    cursor : pointer;
}

#selectFile {
    color : white;
    font-size : 13px;
    font-weight: lighter;
    background-color : #0097e6;
    border : solid 1px darkslategrey;
    border-radius : 5px;
    height : 30px;
}

#file_name {
    padding-left: 10px;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    color : #888888;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius : 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

.action_table {
    width : 50%;
    margin-top : 10px;
    border : none;
    box-shadow : 5px 5px 7px lightgray,
    -6px -6px 5px ghostwhite;
    border-radius : 10px;
    padding : 10px;
}

.action_table th {
    text-align : left;
    padding : 5px;
}

.textInput {
    border : none;
    box-shadow : 3px 3px 2px lightgray,
    -3px -3px 2px ghostwhite;
    border-radius : 3px;
    padding : 5px;
    width : 200px;
}
